body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(0, 25, 54);
   color: white;
}
#main {
   width: 50vw;
   margin: auto;
}
h1 {
   text-align: center;
}
h3 {
   text-align: center;
}
.wette {
   margin-left: 20px;
   margin-top: 60px;
   border-top: 2px solid white;
}
